@font-face {
  font-family: 'Founders Grotesk';
  font-display: swap;
  src: url('~/assets/fonts/foundersgrotesktext-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  font-display: swap;
  src: url('~/assets/fonts/foundersgrotesktext-semibold-webfont.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Founders Grotesk';
  font-display: swap;
  src: url('~/assets/fonts/foundersgrotesktext-medium-webfont.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Founders Grotesk';
  font-display: swap;
  src: url('~/assets/fonts/foundersgrotesktext-regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Founders Grotesk';
  font-display: swap;
  src: url('~/assets/fonts/foundersgrotesktext-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  font-display: swap;
  src: url('~/assets/fonts/foundersgrotesktext-light-webfont.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Poets Electra Roman No 2';
  font-display: swap;
  src: url('~/assets/fonts/PoetsElectra-ItalicNo2.woff2') format('woff2'),
    url('~/assets/fonts/PoetsElectra-ItalicNo2.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poets Electra';
  font-display: swap;
  src: url('~/assets/fonts/PoetsElectra-Roman.woff2') format('woff2'),
  url('~/assets/fonts/PoetsElectra-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
