@mixin trans-bg--multiply($bg-color) {
  position: relative;
  background-color: transparent;

  &::before {
    content: "";
    mix-blend-mode: multiply;
    background-color: $bg-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin chevron($size, $weight, $offset) {
  display: inline-block;
  border-right: $weight solid black;
  border-bottom: $weight solid black;
  width: $size;
  height: $size;
  transform: translateY(-$offset) rotate(-45deg);
}
