body {
  font-size: 16px; // Set base REM size.
}

pre {
  white-space: pre-wrap;
  font-family: "Poets Electra";
}

// @TODO Fonts should go here.

h2 {
  font-family: $font-family-serif-italic;
}

.font-serif-italic {
  font-family: $font-family-serif-italic;
}

.font-serif {
  font-family: $font-family-serif;
}

.font-sans {
  font-family: $font-family-sans-serif;
}
