body {
  font-size: 16px; // Set base REM size.
}

.poem__body {
    font-family: $font-family-serif;
    font-size: 3.8vw;
    .poem__body--small-text & {
      font-size: 3.2vw;
    }

    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
    }
  pre {
    font-size: inherit;
    white-space: pre-wrap;
    font-family: $font-family-serif;

  }
}
.section-title {
  font-family: $font-family-serif;
  font-style: italic;
}
// @TODO Fonts should go here.

.font-serif {
  font-family: $font-family-serif;
}

.font-sans {
  font-family: $font-family-sans-serif;
}

.font-italic {
  font-style: italic; 
}
.long-line {
  text-indent: -32px;
  margin-left: 32px;
  display: inline-block;
}
