body {
  font-size: 16px; // Set base REM size.
}

.poem__body {
  pre {
    white-space: pre-wrap;
    font-family: "Poets Electra";
    font-size: 0.75rem;

    .poem__body--small-text & {
      font-size: 0.69rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }
}

// @TODO Fonts should go here.

.font-serif {
  font-family: $font-family-serif;
}

.font-serif-2 {
  font-family: "Poets Electra", serif;
}

.font-sans {
  font-family: $font-family-sans-serif;
}

.long-line {
  text-indent: -32px;
  margin-left: 32px;
  display: inline-block;
}
