.nav-tabs {
  border-bottom: 1px solid $gray-600;
  .nav-link {
    color: $text-muted;
    font-weight: $font-weight-bold;
    font-size: $h3-font-size;
    &.active {
      background: transparent;
      color: $black;
      border: none;
      border-bottom: 5px solid $blue;
    }
    &:hover {
      color: $black;
      border: none;
    }
  }
}
