.btn {
  border-radius: 0;
  font-weight: 500;
}

.btn-sm {
  line-height: 1;
  padding: $btn-padding-y-sm * 1.33;
}

.btn-md {
  line-height: 1;
}

.btn-lg {
  line-height: 1;
}

.input-group-append .btn {
  line-height: 1;
  padding: $btn-padding-y * 0.5 ;
}
