%form-control {
  height: 2.25rem !important;
  padding: 0.5rem 1rem;
  border: $form__border;
  font-weight: 400;

  &:hover {
    border: $form__border--hover;
  }

  &:focus,
  &:active {
    border: $form__border--focus;
    outline: none;
    box-shadow: none;
  }

  &+.d-block {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
}

.form-control {
  @extend %form-control;
}
