%input--icon {
  padding-left: 3rem;

  & + svg {
    width: 2rem;
    position: absolute;
    top: 0.35rem;
    left: 0.51rem;

    path {
      fill: var(--blue);
    }
  }
}

input.input--icon {
  @extend %input--icon;
}
