$form__border: 1px solid var(--gray-600);
$form__border--hover: 1px solid var(--gray-700);
$form__border--focus: 1px solid var(--gray-800);

$table__border__color: #e0e7ee;

$newsletter-support-follow__h3__border-color: #e1eef2;
$brown: #AD662E;
// because we have to match the old site's exact grey color...
$print-logo-grey: #8D8689;
