@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-BoldItalic.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-SemiboldItalic.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk Regular';
  src: url('~assets/fonts/FoundersGrotesk-RegularItalic.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-Regular.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-Bold.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poets Electra Roman';
  src: url('~assets/fonts/PoetsElectra-Roman.woff2') format('woff2'),
  url('~assets/fonts/PoetsElectra-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poets Electra Roman No 2';
  src: url('~assets/fonts/PoetsElectra-ItalicNo2.woff2') format('woff2'),
  url('~assets/fonts/PoetsElectra-ItalicNo2.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-Light.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-MediumItalic.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-Medium.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poets Electra Roman No 2';
  src: url('~assets/fonts/PoetsElectra-RomanNo2.woff2') format('woff2'),
  url('~assets/fonts/PoetsElectra-RomanNo2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('~assets/fonts/FoundersGrotesk-LightItalic.woff2') format('woff2'),
  url('~assets/fonts/FoundersGrotesk-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poets Electra Roman';
  src: url('~assets/fonts/PoetsElectra-Italic.woff2') format('woff2'),
  url('~assets/fonts/PoetsElectra-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


