.promo-space {
  min-height: 233px;
  min-width: 100%;
  background-color: #aaa;
  border-bottom: 2px solid #fff;
  h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 47px;
  }
}
