%pager {
  margin: 2.6rem -12px 0 -12px;

  .pagination {
    display: flex;

    li {

      // Prev/Next links.
      &:first-child,
      &:last-child {
        flex-grow: 1;

        .page-link {
          color: var(--blue-dark);

          svg {

            rect,
            g {
              fill: var(--blue-dark);
            }
          }
        }
      }

      &:last-child {
        text-align: right;

        .page-link {
          padding-right: 0;
        }
      }

      &:first-child {
        .page-link {
          padding-left: 0;
        }
      }

      &.active {
        .page-link {
          background-color: var(--blue-dark);
        }
      }

      &.disabled {
        .page-link {
          background-color: transparent !important;
          color: $gray-600;

          svg {

            rect,
            g {
              fill: $gray-600;
            }
          }
        }

      }

      &.ellipsis {
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.3rem;
      }

      .page-link {
        border: none;
        background-color: transparent;
        color: $body-color;

        svg {
          rect {
            fill: $body-color;
          }
        }

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}

.pager {
  @extend %pager;
}
